/* All Pages */
body{
	/* background-color: #ffe9fec2; */
    background-color: #FFFFFF;
	font-size: 125%;
    /* padding-top: 4%; */
}

.loading-screen{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    background: #000;
    animation-name: load-screen;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.loader{
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0px 0px -100px;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    perspective: 200px;
}

.fun-fact{
    line-height: 1.5;
    text-align: center;
    position: absolute;
    left: 25%;
    top: 80%;
    margin: -25% 0px 0px -25%;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.load-animation1, .load-animation2{
    position: absolute;
    width: 200px;
    height: 200px;
    /* border: solid 5px #a41b6f; */
    border: solid 5px #942F6D;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin: -100px 0px 0px -100px;
    animation: loading-animation1 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.load-animation2{
    animation: loading-animation2 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes load-screen{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        z-index: -1;
    }
}

@keyframes loading-animation1{
    0%{
        transform: rotate3d(1,1,1,0deg);
    }
    100%{
        transform: rotate3d(1,1,1,360deg);
        opacity: 0;
    }

}

@keyframes loading-animation2{
    0%{
        transform: rotate3d(1,1,1,0deg);
    }
    100%{
        transform: rotate3d(1,1,1,-360deg);
        opacity: 0;
    }
}

a{
    text-decoration: none;
}

h1{
    background-image: url(../images/femalebanner.png);
    background-repeat: no-repeat;
    font-family: 'Spicy Rice', Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    /* margin: 10% 0px 7% 0px; */
    padding: 8% 0px 4% 0px;
    color: #000000;
}


h2{
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding-top: 6%;
}

h3{
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 5%; 
    color: #ffffff;
}

h4{
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 8%; 
}

img{
    display: block;
    margin: 0px auto;
    padding: 0.5%;
    width: 45%;
}

p{
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 3% 5% 2% 5%;
}

nav {
    /* background-color: #7f3f66; */
    /* background-color: #4B824A; */
    background-color: #942F6D;
    padding: 2%;
    /* border-radius: 35px; */
}

nav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

li {
    display: inline-block;
    margin: 5px;
    padding: 0px 20px 0px 20px;
}

li a {
    text-decoration: none;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.active {
    background-color: #000000;
    padding: 5px;
}


.skip {
    position: absolute;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    /* color: #a41b6f; */
    /* color: #942F6D; */
    color: #000000;
    font-size: 14px;
    left: 1%;
    top: 1%;
}

.skip:focus {
    left: 0px;
    margin-bottom: 10px;
}

/* About Page */

.welcome{
    margin: 20% 5% 0px 5%;
    /* background-color: rgb(164, 27, 111, 0.25); */
    background-color: rgba(255, 204, 238, 0.75);
    border-radius: 35px;
    padding-bottom: 6%;
}


.welcome p{
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.pageintros{
    background-image: url(../images/openbook.png);
    background-repeat: no-repeat;
    background-size: 138%;
    display: flex;
    flex-direction: column;
    margin: 20% 0px 0px 3%;
}

.pageintros a{
    text-decoration: none;
}

.literature{
    background-color: #000000;
    margin: 9% 5% 0px 8%;
}

.literature:hover{
    transform: scale(1.03);
}

.literature p{
    color: #ffffff;
}

.histpol{
    background-color: #000000;
    margin: 6% 5% 0px 8%;
}

.histpol:hover{
    transform: scale(1.03);
}

.histpol p{
    color: #ffffff;
}

.feministdict{
    background-color: #000000;
    margin: 6% 5% 10% 8%;
}

.feministdict:hover{
    transform: scale(1.03);
}

.feministdict p{
    color: #ffffff;
}

.about{
    margin: 22% 5% 5% 5%;
    /* background-color: rgb(164, 27, 111, 0.25); */
    background-color: rgb(255, 203, 238, 0.75);
    border-radius: 35px;
}

.about h2{
    margin: 2% 0px 6% 0px;
}

.about p a{
    color: #942F6D;
}

.about img{
    display: block;
    margin: 0px auto;
    padding: 0.5%;
    width: 93%;
    /* border: double 15px #7f3f66; */
    border: double 15px #BA4E91;
    border-radius: 10px;
    animation-name: slide;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

@keyframes slide {
    0% {
       opacity: 1;
       transform: translateX(-110%);
    }
    100% {
       opacity: 1;
       transform: translateX(110%);
    }
}

.about p{
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 20px;
}

span{
    font-weight: bold;
}

/* Literature Page */

.lithist-h2{
    /* border: 5px solid #a41b6f; */
    border: 5px solid #942F6D;
    border-radius: 35px;
    margin: 15% 5%;
    padding-bottom: 5%;
}

.femlit{
    display: grid;
    grid-template-columns: auto;
    margin: 15% 5% 3% 5%;
    padding: 0.5% 3% 5% 3%;
    /* background-color: rgb(164, 27, 111, 0.25); */
    background-color: rgb(255, 203, 238, 0.75);
    border-radius: 35px;
}

.femlit h3{
    color: #000000;
    margin: 10% 0px 5% 0px;
    font-size: 40px;
}

.femlit img{
    width: 85%;
    display: block;
    margin: 0px auto;
    padding: 2%;
    /* border-top: solid 12px #a41b6f;
    border-left: solid 12px #a41b6f; */
    border-top: solid 12px #BA4E91;
    border-left: solid 12px #BA4E91;
    }
    
.femlit img:hover {
    transform: scale(1.1);
    }

.femlit:nth-child(odd){
    /* border: double 12px #a41b6f; */
    border: double 12px #BA4E91;
    padding: 0% 3% 9% 3%;
    border-radius: 35px;
}

.femlit:nth-child(even){
    /* border: solid 6px #a41b6f; */
    border: solid 6px #BA4E91;
    padding: 0% 3% 9% 3%;
    border-radius: 35px;
}

/* .femlit .femitem:nth-child(even) img{
    width: 85%;
    border-bottom: none;
    border-top: 12px double #a41b6f;
    border-left: 12px double #a41b6f;
    } */

/* .femlit img:nth-child(odd){
    width: 85%;
    border-top: none;
    border-bottom: double 12px #a41b6f;
    border-left: double 12px #a41b6f;
    } */

/* .femlit .femitem img:nth-child(odd){
     width: 85%;
    border-top: none;
    border-bottom: double 12px #a41b6f;
    border-left: double 12px #a41b6f;
} */

.introp{
    /* background-color: #a41b6f; */
    background-color: #BA4E91;
    color: #FFFFFF;
    font-size: 25px;
    margin: 5%;
    padding: 5%;
}

.introph{
    /* background-color: #a41b6f; */
    background-color: #BA4E91;
    color: #FFFFFF;
    font-size: 25px;
    margin: 5%;
    padding: 5%;
}

.femlit ul{
    /* background-color: #a41b6f; */
    background-color: #BA4E91;
    margin: 5%;
    padding: 5% 0px 5% 0px;
    display: grid;
    grid-template-columns: auto;
}

.femlit li{
    color: #ffffff;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/* History & Politics Page */

.femhist{
    display: grid;
    grid-template-columns: auto;
    margin: 15% 5% 3% 5%;
    padding: 3% 3% 6% 3%;
    /* background-color: rgb(164, 27, 111, 0.25); */
    background-color: rgb(255, 203, 238, 0.75);
    border-radius: 35px;
}

.femhist img{
    width: 85%;
    display: block;
    margin: 0px auto;
    padding: 2%;
    /* border-bottom: solid 12px #a41b6f;
    border-left: solid 12px #a41b6f; */
    border-bottom: solid 12px #BA4E91;
    border-left: solid 12px #BA4E91;
    }

.femhist img:hover {
    transform: scale(1.1);
    }


.femhist h3{
    color: #000000;
    margin: 3% 0px 5% 0px;
    font-size: 40px;
}

.femhist:nth-child(even){
    /* border: double 12px #a41b6f; */
    border: double 12px #BA4E91;
    padding: 0% 3% 9% 3%;
    border-radius: 35px;
}

.femhist:nth-child(odd){
    /* border: solid 6px #a41b6f; */
    border: solid 6px #BA4E91;
    padding: 0% 3% 9% 3%;
    border-radius: 35px;
}

/* Feminist Dictionary Page */

.words{
    /* background-color: rgb(164, 27, 111, 0.25); */
    background-color:rgb(255, 203, 238, 0.75);
    border-radius: 35px;
    margin: 15% 5%;
    padding-bottom: 6%;
}

.words p{
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.defgrid{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto;
    row-gap: 0.75%;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 195%;

}

.defcard{
    background-color: #000000;
    padding: 2%;
    border-radius: 35px;

}

.defcard dt, dd{
    color: #ffffff;
}


dt{
    font-family: 'Finlandica', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 3%;
}

dd{
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 5%;
    padding: 3%;
}

section{
    display: block;
    margin: 7% 0px 3% 0px;

}

.btn {
    overflow: visible;
    display: block;
    width: 240px;
    position: relative;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    /* background: #a41b6f; */
    background-color: #942F6D;
    padding: 5% 25%;
    margin: 0px auto;
    /* border: solid 1px #a41b6f; */
    border: solid 1px #942F6D;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 0.8em 2em;
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none !important;
    background-color:#6e2251;
    color: #FFFFFF;
}


/* Footer */

footer{
    display: flex;
    flex-direction: column;
    /* background-color: #7f3f66; */
    background-color: #942F6D;
    padding: 9% 0px 5% 0px;
    margin-top: 15%;
    text-align: center;
}

footer p{
    color: #ffffff;
    font-size: 80%;
}

.thanks{
    font-size: 30px;
    margin-top: 3%;
}

.tops{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.fi{
    color: #FFFFFF;
    margin-right: 3%;
    font-size: 175%;
}

.socialicons{
    margin: 9% 0px 4% 0px;
}

.socialicons a{
    text-decoration: none;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding: 3%;
}


@media screen and (prefers-reduced-motion: reduce){
    .about img{
      animation: none;
    }

    .load-animation1, .load-animation2{
        animation: none;
    }
}

@media screen and (min-width: 391px){
    /* All Pages */
    h1{
        font-size: 70px;
        /* margin: 2% 0px 5% 0px; */
        padding: 4% 0px 2% 0px;

    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    /*Loading Page*/
    .fun-fact{
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        position: absolute;
        /* left: 17%; */
        top: 88%;
        margin: -25% 0px 0px -16%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        color: #ffffff;
    }


    /*About Page*/
    .welcome{
        margin: 8% 5%;
    }

    .welcome p{
        padding: 2% 4% 0px 5%;
        text-align: start;
    }

    .pageintros{
        background-image: url(../images/openbook-double.png);
        background-size: contain;
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        margin: 5% 0px 3%;
        height: 600px;
    }

    .literature, .histpol, .feministdict{
        margin: auto;
    }

    .literature{
        width: 80%;
        height: 35vh;
    }

    .literature h3{
        padding-top: 14%;
    }

    .literature p{
        padding: 13% 0% 0px 7%;
    }

    .histpol{
        width: 92%;
        height: 35vh;
    }

    .histpol p{
        padding: 7%;
    }

    .feministdict{
        width: 80%;
        height: 35vh;
    }

    .feministdict p{
        padding: 6% 4% 0px 5%;
    }

    .about{
        margin: 9% 5% 8% 5%;
    }

    .about p{
        padding: 4%;
    }


    /* Literature Page */

    .lithist-h2{
        margin: 8% 15%;
    }

    .femlit{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .femlit h3{
        color: #000000;
        margin: 3% 0px 5% 0px;
        font-size: 40px;
    }

    .femitemk{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .femitemk h4{
        padding-top: 3%;
    }

    .femlit ul{
        margin: 3% 5%;
        padding: 3%;
        display: grid;
        grid-template-columns: auto;
    }

    .femlit:nth-child(odd){
        padding: 2% 3% 5% 3%;
    }
    
    .femlit:nth-child(even){
        padding: 2% 3% 5% 3%;
    }
    

    /* History & Politics Page */
    .femhist{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        padding: 3% 3% 5% 3%;
        margin: 5%;
    }

    .femitemp{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        padding-top: 2%;
    }

    .femhist h3{
        color: #000000;
        font-size: 40px;
    }

    .femhist:nth-child(even){
        padding: 2% 3% 5% 3%;
    }
    
    .femhist:nth-child(odd){
        padding: 2% 3% 5% 3%;
    }


    /* Feminist Dicitonary Page */
    .words{
        margin: 8% 5%;
        padding-bottom: 2%;
    }

    section{
        margin-top: 3%;
    }

    .defgrid{
        display: grid;
        grid-template-columns: 43% 43%;
        grid-template-rows: auto;
        column-gap: 4%;
        row-gap: 0.75%;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 30%;
    }

    dt{
        padding: 3% 3% 0px 4%;
    }

    dd{
        padding: 4%;
    }


    /* Footer */
      footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-top: 10%;
        padding: 0px;
    }

    footer p{
        margin-top: 5%;
    }

    .thanks{
        font-size: 30px;
        margin-top: 3%;
    }

    .tops{
        margin: 5% 4%;
    }

    .fi{
        color: #FFFFFF;
        margin-right: 3%;
        font-size: 175%;
    }
    
    .socialicons{
        margin: 3% 1% 4% 0px;
    }
    
    .skip {
        left: 1%;
        top: 1%;
        /* color: #a41b6f; */
        /* color: #942F6D; */
        color: #000000;
        font-size: 16px;
    }
}

@media screen and (min-width: 821px){
    
    /* All Pages */
    .skip {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        /* color: #a41b6f; */
        /* color: #942F6D; */
        color: #000000;
        text-decoration: none;
        /* border: solid 3px #a41b6f; */
        /* border: solid 3px #942F6D; */
        border: solid 3px #000000;
        left: -1000px;
    }

    .skip:focus {
        left: 1%;
        top: 2%;
        margin-bottom: 10px;
    }

    h1{
        /* margin: 0% 0px 4% 0px; */
        padding: 2% 0px 1% 0px;
    }

    nav{
        padding: 1%;
        /* margin: 0px 5%; */
    }

    /*Loading Page*/
    .fun-fact{
        line-height: 1.5;
        display: inline-block;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 115%;
        margin: -25% 0px 0px -21%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #ffffff;
    }

    /* About Page */

    h2{
        padding-top: 5%;
    }

    .welcome{
        margin: 5% 15% 6%;
        padding-bottom: 4%;

    }

    .welcome p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding: 4% 4% 0px 5%;
    }

    .pageintros{
        background-image: url(../images/openbook-double.png);
        background-repeat: inherit;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 2%;
        background-size: 50%;
        height: 553px;
    }

    .literature h3{
        padding-top: 5%;
    }

    .literature p{
        padding: 7% 3% 0px 8%;
    }

    .histpol p{
        padding: 7% 4% 0px 7%;
    }

    .feministdict p{
        padding: 7% 3% 0px 8%;
    }

    .about{
        margin: 7% 10% 8%;
    }

    .about h2{
    margin: 0% 0px 4% 0px;
    padding-top: 5%;
    }

    @keyframes slide {
        0% {
           opacity: 1;
           transform: translateX(-110%);
        }
        100% {
           opacity: 1;
           transform: translateX(123%);
        }
    }
    
    .literature, .histpol, .feministdict{
        margin: auto;
    }

    /* Literature Page */

    .lithist-h2{
        margin: 5% 20% 6%;
        padding-bottom: 3%;
    }

    .femlit{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        margin: 5% 10%;
        padding-bottom: 3%;
    }

    .femitemk{
        display: grid;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .femitemp{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
        padding-top: 0px;
    }

    .femitemp p{
        padding: 3% 5% 0px 5%;
    }

    .introp{
        background-color: rgb(164, 27, 111, 0);
        color: #000000;
        /* border: solid 5px #a41b6f; */
        border: solid 5px #BA4E91;
        font-size: 25px;
        font-weight: bold;
        margin: 5%;
        padding: 5%;
    }


    /* History & Politics Page */
    .femhist{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        padding: 1% 3% 4% 3%;
        margin: 5% 10%;
    }

    .femitemh{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .femitemh2{
        display: grid;
        grid-column-start: 2;
        grid-column-end: 4;
    }



    /* Feminist Dictionary Page */
    .words{
        margin: 5% 15% 6%;
        padding-bottom: 1%;
    }

    section{
        margin-top: 1%;
    }

    .defgrid{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        column-gap: 4%;
        row-gap: 0.75%;
        justify-content: center;
        margin: 5% 9% 8%;
    }

    .words p{
        padding: 2% 5% 2% 5%;
    }

    /* Footer */
    .socialicons{
        display: flex;
        flex-direction: column;
        margin: 3% 0px 0px 4%;
    }

    footer p{
        margin-top: 4%;
    }

    .tops {
        margin: 5% 0px;
    }

}
